[submodule "pack/git-plugins/start/ale"]
	path = pack/git-plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/git-plugins/start/nerdcommenter"]
	path = pack/git-plugins/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
