[submodule "pack/git-plugins/start/ale"]
	path = pack/git-plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/git-plugins/start/nerdcommenter"]
	path = pack/git-plugins/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule "pack/git-plugins/start/autopairs"]
	path = pack/git-plugins/start/autopairs
	url = https://github.com/LunarWatcher/auto-pairs.git
[submodule "pack/git-plugins/start/surround"]
	path = pack/git-plugins/start/surround
	url = https://github.com/tpope/vim-surround.git
